<a href="https://colab.research.google.com/github/angusclark1/12-HW/blob/main/venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
from google.colab import files
uploaded = files.upload()

appdata = pd.read_csv("applicants_data.csv")

# Review the DataFrame


appdata.head()

Saving applicants_data.csv to applicants_data (2).csv

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Review the data types associated with the columns
appdata.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
list(appdata.dtypes[appdata.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [9]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
appdata = appdata.drop(columns= ['EIN', 'NAME'])

# Review the DataFrame
appdata.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [13]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list

categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [18]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [19]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(appdata[categorical_variables])

In [20]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display sample data
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [26]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = appdata.drop(columns = categorical_variables)

# Review the Dataframe
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [27]:
attition_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
attition_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [28]:
# Define the target set y using the IS_SUCCESSFUL column
y = attition_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [29]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = attition_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [30]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [31]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [33]:
# Define the number of neurons in the output layer
number_output_neurons = # YOUR CODE HERE

SyntaxError: ignored

In [43]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [44]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [45]:
# Create the Sequential model instance
nn = Sequential()

In [46]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [47]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [48]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [49]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [61]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [62]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5755 - accuracy: 0.7210
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7276
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7335
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7306
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7321
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7332
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7346
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7346
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7368
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7382
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7377
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7383
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7380
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7385
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7381
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7379
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7390
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7382
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7383
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7385
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7396
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7387
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7393
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7386
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7398
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7390
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7410
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7390
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7402
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7396
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7412
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7385
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7402
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7405

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [63]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5530 - accuracy: 0.7325 - 437ms/epoch - 2ms/step
Loss: 0.5529673099517822, Accuracy: 0.732478141784668

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [66]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to an HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [67]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [24]:
# Define the number of neurons in the output layer
number_output_neurons_A1 =

SyntaxError: ignored

In [83]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 =  (number_input_features + 1) // 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

29

In [84]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [85]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))


# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 58)                6786

 dense_8 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [86]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [87]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7423
Epoch 2/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7416
Epoch 3/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5288 - accuracy: 0.7432
Epoch 4/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7430
Epoch 5/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5284 - accuracy: 0.7435
Epoch 6/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7425
Epoch 7/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7420
Epoch 8/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7433
Epoch 9/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7421
Epoch 10/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7426
Epoch 11/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7418
Epoch 12/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7424
Epoch 13/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7424
Epoch 14/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7426
Epoch 15/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7432
Epoch 16/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7428
Epoch 17/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7425
Epoch 18/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7425
Epoch 19/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7430
Epoch 20/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7432
Epoch 21/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7423
Epoch 22/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7428
Epoch 23/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5281 - accuracy: 0.7430
Epoch 24/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5278 - accuracy: 0.7426
Epoch 25/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7437

In [88]:
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7736 - accuracy: 0.4714 - 460ms/epoch - 2ms/step
Loss: 0.7736157774925232, Accuracy: 0.47137024998664856

#### Alternative Model 2

In [89]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

SyntaxError: ignored

In [95]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2 
hidden_nodes_layer2_A2 = (hidden_nodes_layer1 + 1) // 2
hidden_nodes_layer3_A2 = (hidden_nodes_layer1 + 1) // 2
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [96]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [97]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 58)                6786

 dense_11 (Dense)            (None, 29)                1711

 dense_12 (Dense)            (None, 29)                870

 dense_13 (Dense)            (None, 1)                 30

=================================================================
Total params: 9,397
Trainable params: 9,397
Non-trainable params: 0
_________________________________________________________________

In [99]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [100]:
# Fit the model
fit_model = nn_A2.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5777 - accuracy: 0.7182
Epoch 2/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7294
Epoch 3/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7318
Epoch 4/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7337
Epoch 5/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7336
Epoch 6/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7336
Epoch 7/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7340
Epoch 8/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 9/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7359
Epoch 10/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7363
Epoch 11/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7362
Epoch 12/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 13/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7374
Epoch 14/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7362
Epoch 15/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 16/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7374
Epoch 17/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7379
Epoch 18/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7390
Epoch 19/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7375
Epoch 20/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 21/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 22/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 23/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 24/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 25/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7396

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [101]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5607 - accuracy: 0.7308 - 488ms/epoch - 2ms/step
Loss: 0.5606962442398071, Accuracy: 0.7308454513549805

In [102]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7736 - accuracy: 0.4714 - 318ms/epoch - 1ms/step
Loss: 0.7736157774925232, Accuracy: 0.47137024998664856

In [103]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5536 - accuracy: 0.7289 - 417ms/epoch - 2ms/step
Loss: 0.553558349609375, Accuracy: 0.728863000869751

### Step 3: Save each of your alternative models as an HDF5 file.

In [104]:
# Set the file path for the first alternative model
file_path = "Alternate1.h5"

# Export your model to an HDF5 file
nn_A1.save(file_path)

In [105]:
# Set the file path for the second alternative model
file_path = "Alternate2.h5"

# Export your model to an HDF5 file
nn_A2.save(file_path)